{% extends 'base.html.twig' %}

{% block title %}API Platform Admin{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
